/*Google font link*/
@import url('https://fonts.googleeapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    padding:10;
    box-sizing: border-box;
 }

body,
input{
  font-family: 'Poppins', sans-serif;
}
/* container creates the website background*/
.container{
    position: relative;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    overflow: hidden; 
}

.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container::before{
  content: '';
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  background-image: linear-gradient(-55deg, #20dbc2 0%, #00bfa6 100%);
  transform: translate(-50%);
  border-radius: 50%;
  z-index: 6;
}

/* creates the signin page*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
/*size and color of the title of signin*/
.title{
  font-size: 50px;
  color: #444;
  margin-bottom: 10px;
  
}
/*size and color of the title of signup*/
.title-signup{
    font-size: 50px;
    color: #444;
    margin-bottom: 10px;
    text-align: center;
    
  }

.input-field{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;  
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  width: 300px;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.input-field input:placeholder-shown{
  color: #aaa;
  font-weight: 500;  
}

.btn{
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #20dbc2;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}

.btn:hover{
  background-color: #00bfa6;  
}

.social-text{
  padding: 0.7rem 0;  
}

.social-media{
  display: flex;
  justify-content: center;  
}

.social-icon{
  height: 46px;
  width: 46px;
  bottom: 1px soild rgb(0, 0, 0);
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  border-style: solid;
  border-radius: 100px;
  border-width: 1px;
  transition: all 0.5ms;  

}

.social-icon:hover{
  color: #20dbc2;
  border-color: #00bfa6;  
}

.signup {
  margin-right: 100px;
  margin-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
  
}

.signin{
    margin-top: 150px;
}


.panels-container {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel{
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  text-align: center;
  z-index: 7;
}

.left-panel{
  padding: 3rem 17% 2rem 12%;
}

.right-panel{
  padding: 3rem 12% 2rem 17%;
}

.panel ,.content{
  color: rgb(0, 0, 0);
}

.panel h3{
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.btn.transparent{
  margin: 0;
  background: cadetblue;
  border: 2px solid;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 1.3rem;
}

.social-text{
    display: block;
}

.signup-login{
    width: 150px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 48px;
    background-color: #20dbc2;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 80px;
    transition: all 0.5s;
}
.signup-login:hover{
    cursor: pointer;
    opacity: 0.7;
}

.input-field i{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;  
}
